.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

img {
    height: 200px;
}

.collection div a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.collection div {
    display: flex;
    justify-content: center;
}

.collection p {
    font-size: 12px;
}