* {
    margin: 0;
    padding: 0;
}

body {
    background-color: silver;
}
nav img {
    height: 25px;
    padding-left: 15px;
}
.grid {
    height: 100vh;
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 1em;
}

nav {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: white;
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;

}

nav ul li {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    /* ANIMATION Preset CSS  */
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    /* END of animation preset CSS*/
    display: block;
    text-decoration: none;
    color: black;
}

/* ANIMATION CSS */
/* Top and Bottom borders go out */
nav ul a:before,
nav ul a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav ul a:before {
    top: 0px;
    transform: translateY(10px);
}

nav ul a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

nav ul a:hover:before,
nav ul a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* END OF ANIMATION CSS */

main {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: white;
    padding: 15px 15px;
    display: flex;

    animation-duration: 1.5s;
    animation-name: fadeAndScale;


}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
main h1, h2, h3 {
color:#c40d2e;
}
article h1 {
    text-align: center;
}

main article {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}

article div img {
    float: right;
    height: 250px;
}

main aside {
    flex: 1;
    padding: 5px;
}

main article {
    padding: 5px;
    flex: 2;
}

footer {
    background-color: white;
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    align-items: center;
}

footer div {
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.rightSidebar {
    display: flex;
    flex-direction: column;
}

.rightSidebar p {
    flex: 1;
}

.empty {
    flex: 2;
}
footer div img {
    height: 25px;
}